Source: libglvnd
Priority: optional
Maintainer: Josh Bialkowski <josh.bialkowski@gmail.com>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 pkg-config,
 libx11-dev,
 libxext-dev,
 python-dev,
 python-libxml2,
 x11proto-gl-dev,
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/NVIDIA/libglvnd
Vcs-Git: https://github.com/NVIDIA/libglvnd.git
Vcs-Browser: https://github.com/NVIDIA/libglvnd


Package: libglvnd-dev
Section: libdevel
Architecture: any
Depends:
 libglvnd0 (= ${binary:Version}),
 libglvnd-core-dev (= ${binary:Version}),
 libegl1-glvnd (= ${binary:Version}),
 libgles2-glvnd (= ${binary:Version}),
 libgl1-glvnd (= ${binary:Version}),
 libglx0-glvnd (= ${binary:Version}),
 libopengl0-glvnd (= ${binary:Version}),
 ${misc:Depends},
Multi-Arch: same
Description: Vendor neutral GL dispatch library -- development files
 This is an implementation of the vendor-neutral dispatch layer for
 arbitrating OpenGL API calls between multiple vendors on a per-screen basis.
 .
 This package contains the development files for libglvnd.

Package: libglvnd-core-dev
Section: libdevel
Architecture: any
Depends:
 ${misc:Depends},
Breaks: libglvnd-dev (<< 1.0.0)
Replaces: libglvnd-dev (<< 1.0.0)
Multi-Arch: same
Description: Vendor neutral GL dispatch library -- core development files
 This is an implementation of the vendor-neutral dispatch layer for
 arbitrating OpenGL API calls between multiple vendors on a per-screen basis.
 .
 This package contains the header files for libglvnd split in a separate
 package for Mesa.

Package: libglvnd0
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Breaks:
 libgldispatch0-nvidia,
Replaces:
 libgldispatch0-nvidia,
Multi-Arch: same
Description: Vendor neutral GL dispatch library
 This is an implementation of the vendor-neutral dispatch layer for
 arbitrating OpenGL API calls between multiple vendors on a per-screen basis.
 .
 This package contains the GL dispatch library.

Package: libegl1-glvnd
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libglvnd0 (= ${binary:Version}),
Replaces:
 libglvnd0 (<< 1.0.0)
Breaks:
 libglvnd0 (<< 1.0.0)
Multi-Arch: same
Description: Vendor neutral GL dispatch library -- EGL support
 This is an implementation of the vendor-neutral dispatch layer for
 arbitrating OpenGL API calls between multiple vendors on a per-screen basis.
 .
 This package contains support for EGL.

Package: libgles2-glvnd
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libglvnd0 (= ${binary:Version}),
Replaces:
 libglvnd0 (<< 1.0.0)
Breaks:
 libglvnd0 (<< 1.0.0),
Multi-Arch: same
Description: Vendor neutral GL dispatch library -- GLES support
 This is an implementation of the vendor-neutral dispatch layer for
 arbitrating OpenGL API calls between multiple vendors on a per-screen basis.
 .
 This package contains support for GLES.

Package: libgl1-glvnd
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libglvnd0 (= ${binary:Version}),
 libglx0-glvnd (= ${binary:Version}),
Replaces:
 libglvnd0 (<< 1.0.0)
Breaks:
 libglvnd0 (<< 1.0.0),
 glx-diversions (<< 0.8),
Multi-Arch: same
Description: Vendor neutral GL dispatch library -- legacy GL support
 This is an implementation of the vendor-neutral dispatch layer for
 arbitrating OpenGL API calls between multiple vendors on a per-screen basis.
 .
 This package contains support for old libGL for compatibility reasons.

Package: libglx0-glvnd
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libglvnd0 (= ${binary:Version}),
Replaces:
 libglvnd0 (<< 1.0.0)
Breaks:
 libglvnd0 (<< 1.0.0)
Multi-Arch: same
Description: Vendor neutral GL dispatch library -- GLX support
 This is an implementation of the vendor-neutral dispatch layer for
 arbitrating OpenGL API calls between multiple vendors on a per-screen basis.
 .
 This package contains support for GLX.

Package: libopengl0-glvnd
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libglvnd0 (= ${binary:Version}),
Replaces: libglvnd0 (<< 1.0.0)
Breaks: libglvnd0 (<< 1.0.0)
Multi-Arch: same
Description: Vendor neutral GL dispatch library -- OpenGL support
 This is an implementation of the vendor-neutral dispatch layer for
 arbitrating OpenGL API calls between multiple vendors on a per-screen basis.
 .
 This package contains support for OpenGL.
